<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/7.3/phpunit.xsd"
         bootstrap="vendor/autoload.php">
  <php>
    <var name="PHPUNIT_ENVIRONMENT" value="\Xtuple\Util\Test\Environment\Configuration\EnvironmentXMLMapConfiguration"/>
    <var name="PHPUNIT_ENVIRONMENT_XML_CONFIGURATION" value="tests/phpunit.environment.xml"/>
  </php>
  <testsuites>
    <testsuite name="full">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist processUncoveredFilesFromWhitelist="true">
      <directory>src</directory>
    </whitelist>
  </filter>
</phpunit>
