<?xml version="1.0" encoding="UTF-8" ?>
<environment xmlns="https://xtuple.com/schema/phpunit.environment"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="https://xtuple.com/schema/phpunit.environment phpunit.environment.xsd">
  <postgres host="localhost" port="5432" database="phpunit" username="phpunit" password="phpunit"/>
</environment>
